<div class="container">
  <h1 class="mt-4 display-4 text-center"><%= @product.name %></h1>
  <div class="row">
    <% @stocks.each do |stock| %>
      <div class="col-4 mt-4">
        <div class="card" id="item-card">
          <h5 class="card-header bg-info text-white text-monospace text-center">
            <%= WareHouse.find(stock.ware_house_id).name %>
          </h5>
          <div class="card-body">
            <p class="text-dark">
              <div class="row">
                <div class="col-8">
                  Item Count:  <span id="item-<%= stock.id %>-count"><%= stock.item_count %></span>
                </div>
                <div class="col-4">
                  <button class="btn btn-sm btn-success increment-item" data-id="<%= stock.id %>">+</button>
                  <button class="btn btn-sm btn-danger decrement-item" data-id="<%= stock.id %>">-</button>
                </div>
              </div>
            </p>
            <p class="text-dark">
              <div class="row">
                <div class="col-8">
                  Item Threshold:  <span id="threshold-<%= stock.id %>-count"><%= stock.low_item_threshold %></span>
                </div>
                <div class="col-4">
                  <button class="btn btn-sm btn-success increment-threshold" data-id="<%= stock.id %>">+</button>
                  <button class="btn btn-sm btn-danger decrement-threshold" data-id="<%= stock.id %>">-</button>
                </div>
              </div>
            </p>
            <p class="text-muted">Created <%= time_ago_in_words stock.created_at %> ago</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center h4">
    <%= link_to 'Home', root_path %>
  </div>

</div>