<div class="container mt-5">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product Sku Code</th>
          <th scope="col">Product Name</th>
          <% @stocks.each do |stock| %>
            <th scope="col"><%= stock.ware_house.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <th scope="row">
              <%= link_to product.sku_code, edit_product_path(product) %></th>
            <td><%= product.name %></td>
            <% product.stocks.order(:ware_house_id).each do |stock| %>
              <td class="<%= 'bg-danger' if stock.item_count < stock.low_item_threshold %>">
                <%= stock.item_count %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>